body {
    background: white;
    /* The image used */
    background-image: url("/static/data/custom/minerals.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white {
    background: white;
}

.mineral__image-bg {
    background-color: white;
    padding: 20px 0;
}

.mineral__image {
    display: unset;
    text-align: left;
    border: solid 2px #CAE5D2;
}

.text-green {
    color: #22ca54;
}

.mineral__caption {
    background: yellow;
}
