{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="row">
        <div class="col-md-12">
            {% for mineral in minerals %}

                <a href="{% url 'detail' mineral.pk %}"><img src="https://via.placeholder.com/200x200?text={{ mineral.name|title }}"></a>
            {% if forloop.counter|divisibleby:4 %}
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-md-12">
            {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}