{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div class="row">
        {% for mineral in minerals %}
        <div class="col-md-3">
            <a href="{% url 'detail' mineral.pk %}"><img class="image-responsive" style="width:100%;" src="{{ mineral.image_filename }}"></a>
            <p>{{ mineral.name|title }}</p>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row" style="margin-top: 5px">
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}