{% extends 'base.html' %}
{% load static %}


{% block content %}

<section>
    <div class="grid-100 {% block container %}mineral__container{% endblock %}">
        {% for character in alphabet %}
        {% if character.lower == term %}
        <a href="{% url "search" %}?q={{ character }}" style="font-weight: bold; background: yellow;">{{ character|upper }}</a>
        {% else %}
        <a href="{% url "search" %}?q={{ character }}">{{ character|upper }}</a>
        {% endif %}
        {% endfor %}
    </div>
</section>

<ul class="minerals__container">

    {% for mineral in minerals %}
    <li class="minerals__item">
      <a class="minerals__anchor" href="{% url "detail" mineral.pk %}">{{ mineral.name|title }}</a>
    </li>
    {% endfor %}

</ul>

{% endblock %}